footer {
    background-color: $blueish;
    color: whitesmoke;
    font-family: Lato-Regular;
    text-align: center;
    padding: 5vw 0;    
    p#thanks {
        color:grey;
        margin: -1.5vw 0 0 0;
    }
}
