header {
    background-color: $greenish;
    text-align: center;
    color: whitesmoke;
    
    padding: 15vw 5vw 5vw 5vw;
    h3 {
        font-size: 6vw;
    }
    img {
        padding-bottom: 4vw;
    }
    p {
        font-family: Lato-Bold;
        font-size:  3vw;
        font-stretch: extra-expanded;
        padding: 0 15%;
    }
}