main.container-fluid {
    text-align: center;
    width: 75%;
    padding-bottom: 2vw;
    h1{
        padding: 5vw 0 0;
    }
    h3 {
        padding: 0 0 3vw;
    }
    img {
        width: 100%;
        padding-bottom: 2vw;
    }
}

